<div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="list-group">
        <a
         [routerLink]="['/products',product.id]"
         [queryParams]="{allowEdit: product.status=='online' ? '1' :'0'}"
          class="list-group-item"
          *ngFor="let product of products">
          {{ product.name }}
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <!-- 
      <button class="btn btn-primary" (click)="loadProducts()">Load Products</button>

      
      <app-editproduct></app-editproduct>
      <hr>
      <app-product></app-product>-->

      <router-outlet></router-outlet>
    </div>
  </div>
  
  