<h4 *ngIf="!editCheck">
  Product is Offline and You can't see Edit Product Page
</h4>
<div *ngIf="editCheck">
      <div class="form-group">
          <label for="name">Product Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            [(ngModel)]="productName">
        </div>
        <div class="form-group">
          <label for="status">Product Status</label>
          <select
            id="status"
            class="form-control"
            [(ngModel)]="productStatus">
            <option value="online">Online</option>
            <option value="offline">Offline</option>
          </select>
        </div>
        <button
          class="btn btn-primary"
          (click)="onUpdateProduct()">Update Product</button>
  </div>
  